/*
---GRID---
Instructions
All CSS declarations and media queries in this
file should strictly target the "grid" div and
its content in the index.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: grid;                            | Only grid
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only grid
¤ font-weight                               |
¤ grid-column                               |
¤ grid-gap                                  |
¤ grid-row                                  |
¤ grid-template-columns                     |
¤ grid-template-rows                        |
¤ order                                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.grid div:nth-child(1),
.grid div:nth-child(2),
.grid div:nth-child(3),
.grid div:nth-child(4),
.grid div:nth-child(5),
.grid div:nth-child(6),
.grid div:nth-child(7),
.grid div:nth-child(8),
.grid div:nth-child(9),
.grid div:nth-child(10){
    display: grid;
    place-content: center;
}

.grid div:nth-child(1) p,
.grid div:nth-child(4) p,
.grid div:nth-child(6) p {
    font-weight: bold;
}

.grid div:nth-child(6) {
    order: 10;
}

.grid div:nth-child(7) {
    order: 6;
}

.grid div:nth-child(8) {
    order: 7;
}

.grid div:nth-child(9) {
    order: 8;
}

.grid div:nth-child(10) {
    order: 9;
}

.grid div:nth-child(1),
.grid div:nth-child(4),
.grid div:nth-child(6),
.grid div:nth-child(8) {
    grid-column: span 2;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 2fr 3fr 1fr 5fr;
        grid-template-rows: 5rem 8rem 7rem 6rem 5rem;
    }

    .grid div:nth-child(1) {
        grid-column: 2;
        grid-row: 3;
    }

    .grid div:nth-child(2) {
        grid-column: 3;
        grid-row: 1;
    }

    .grid div:nth-child(3) {
        grid-column: 4;
        grid-row: 1;
    }

    .grid div:nth-child(4) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .grid div:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
    }

    .grid div:nth-child(6) {
        grid-column: 4;
        grid-row: 3 / span 3;
    }

    .grid div:nth-child(7) {
        grid-column: 3;
        grid-row: 3 / span 3;
    }

    .grid div:nth-child(8) {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    .grid div:nth-child(9) {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    .grid div:nth-child(10) {
        grid-column: 3 / span 2;
        grid-row: 2;
    }

    .grid div {
        place-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 2fr 3fr 1fr 5fr;
        grid-template-rows: 5rem 8rem 7rem 6rem 5rem;
    }

    .grid div:nth-child(1) {
        grid-column: 2;
        grid-row: 3;
    }
    
    .grid div:nth-child(2) {
        grid-column: 3;
        grid-row: 1;
    }
    
    .grid div:nth-child(3) {
        grid-column: 4;
        grid-row: 1;
    }
    
    .grid div:nth-child(4) {
        grid-column: 4;
        grid-row: 3 / span 3;
    }
    
    .grid div:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
    }
    
    .grid div:nth-child(6) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    
    .grid div:nth-child(7) {
        grid-column: 3;
        grid-row: 3 / span 3;
    }
    
    .grid div:nth-child(8) {
        grid-column: 1 / span 2;
        grid-row: 5;
    }
    
    .grid div:nth-child(9) {
        grid-column: 1 / span 2;
        grid-row: 4;
    }
    
    .grid div:nth-child(10) {
        grid-column: 3 / span 2;
        grid-row: 2;
    }

    .grid div {
        place-content: center;
    }
}